<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cadastro de Produto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6 d-flex flex-row justify-content-end">
                <button
                  mat-raised-button
                  class="me-2"
                  color="primary"
                  (click)="listarProdutos()"
                  *ngIf="!typeAdd"
                >
                  Pesquisar
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="!typeAdd ? addProduto() : search()"
                >
                  {{ !typeAdd ? "Incluir" : "Voltar" }}
                </button>
              </div>
              <div class="col-12"><hr /></div>
            </div>
          </div>
          <div class="container-fluid" *ngIf="!typeAdd">
            <div class="row mt-3">
              <div class="col-12">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef width="130">Ação</th>
                    <td mat-cell *matCellDef="let element">
                      <div>
                        <app-botao
                        cor="primary"
                        icone="delete"
                        (retorno)="remover(element.id)"
                        ></app-botao>
                        <app-botao
                        cor="primary"
                        icone="edit"
                        (click)="editar(element)"
                        ></app-botao>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="sku">
                    <th mat-header-cell *matHeaderCellDef>Sku</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.sku }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Produto</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef>Estoque</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.stock }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Custo</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.cost }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Preço</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.price }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>
              </div>
            </div>
          </div>

          <!-- Tela de Cadastro -->
          <div class="container-fluid" *ngIf="typeAdd">
            <div class="row">
              <div class="col-12">
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col-2">
                      <app-input
                      [form]="form"
                      controlName="sku"
                      titulo="Sku"
                      ></app-input>
                    </div>
                    <div class="col-10">
                      <app-input
                      [form]="form"
                      controlName="name"
                      titulo="Nome do Produto"
                      ></app-input>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <app-numeral
                      [form]="form"
                      controlName="stock"
                      titulo="Estoque"
                      ></app-numeral>
                    </div>
                    <div class="col-4">
                      <app-monetario
                      [form]="form"
                      controlName="cost"
                      titulo="Custo"
                      ></app-monetario>
                    </div>
                    <div class="col-4">
                      <app-monetario
                      [form]="form"
                      controlName="price"
                      titulo="Preço"
                      ></app-monetario>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-end">
                      <button
                        mat-raised-button
                        type="button"
                        class="me-2"
                        color="primary"
                        (click)="salvar()"
                      >
                        Salvar Produto
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
